<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<body>
    <div class="fullWidth">       
        <div class="containerSeparator">
            <ul class="progress-tracker progress-tracker--text">
                <li class="progress-step is-complete">
                  <div class="progress-marker"></div>
                  <div class="progress-text">
                    <h4 class="progress-title">Step 1</h4>
                    Your Info
                  </div>
                </li>
      
                <li class="progress-step is-complete">
                  <div class="progress-marker"></div>
                  <div class="progress-text">
                    <h4 class="progress-title">Step 2</h4>
                    Select A Plan
                  </div>
                </li>
      
                <li class="progress-step is-active" aria-current="step">
                  <div class="progress-marker"></div>
                  <div class="progress-text">
                    <h4 class="progress-title">Step 3</h4>
                    Add Ons
                  </div>
                </li>
      
                <li class="progress-step">
                  <div class="progress-marker"></div>
                  <div class="progress-text">
                    <h4 class="progress-title">Step 4</h4>
                    Summary
                  </div>
                </li>
              </ul>           
            </div>
            <div class="oval"></div>
          </div>
</body>
</html>