<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker</title>
</head>
<body>
    <div class="fullWidth">       
        <div class="containerSeparator">
            <ul class="progress-tracker progress-tracker--text">
                <li class="progress-step is-complete">
                  <div class="progress-marker" data-text="1"></div>
                  <div class="progress-text">
                    <h5 class="progress-title">Step 1</h5>
                    <h3>Your Info</h3>
                  </div>
                </li>
      
                <li class="progress-step is-complete">
                  <div class="progress-marker" data-text="2"></div>
                  <div class="progress-text">
                    <h5 class="progress-title">Step 2</h5>
                    <h3>Select A Plan</h3>
                  </div>
                </li>
      
                <li class="progress-step is-active" aria-current="step">
                  <div class="progress-marker" data-text="3"></div>
                  <div class="progress-text">
                    <h5 class="progress-title">Step 3</h5>
                    <h3>Add Ons</h3>
                  </div>
                </li>
      
                <li class="progress-step">
                  <div class="progress-marker" data-text="4"></div>
                  <div class="progress-text">
                    <h5 class="progress-title">Step 4</h5>
                    <h3>Summary</h3>
                  </div>
                </li>
              </ul>           
            </div>           
            <div class="shapeBlueOval"></div>
            <div class="shapeOrangeOval"></div>            
            <div class="shapePinkOval"></div>
            <div class="shapeWhiteOvalOne"></div>
            <div class="shapeWhiteOvalTwo"></div>
            <div class="shapeWhiteOvalThree"></div>
          </div>
</body>
</html>