<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div>
        <div>
            <h1>Personal Info</h1>
            <h2>Please provide your name, email address, and phone number.</h2>
        </div>    
        <div id="Personal Info">
            <div class="name">Name
                <input placeholder="  e.g. Samuel Sovago-Royal" name="name">
            </div>
            
            <div class="emailAddress">Email Address
                <input placeholder="  e.g. email@email.com">
            </div>
    
            <div class="phoneNumber">Phone Number
                <input placeholder="  e.g. (404) 865-5309">
            </div>        
        </div>  
    </div>
</body>
</html>




