:root {
    --bg: #EFF5FF;
	--border: #D6D9E6;
	--denim: #022959;
	--grey: #9699AA;
	--light-blue: #ABBCFF;
	--light-grey: #D6D9E6;
	--orange: #FFAF7E;
	--pink: #F9818E;
	--purple: #483EFF;
	--red-errors: #EE374A;
	--sky-blue: #BEE2FD;
	--very-light-grey: #F8F9FF;
	--white: #FFFFFF
}

* {	
	font-family: 'Ubuntu', sans-serif;
}

body {
	position: absolute;
	width: 940px;
	height: 600px;
	left: 250px;
	top: 105px;	
	background: #FFFFFF;
	box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
	border-radius: 15px;
}
