:root {
    --bg: #EFF5FF;
	--border: #D6D9E6;
	--denim: #022959;
	--grey: #9699AA;
	--light-blue: #ABBCFF;
	--light-grey: #D6D9E6;
	--orange: #FFAF7E;
	--pink: #F9818E;
	--purple: #483EFF;
	--red-errors: #EE374A;
	--sky-blue: #BEE2FD;
	--very-light-grey: #F8F9FF;
	--white: #FFFFFF
}

* {
	font-family: Ubuntu;
}

body {
	position: absolute;
	width: 940px;
	height: 600px;
	left: 250px;
	top: 105px;	
	background: #FFFFFF;
	box-shadow: 0px 25px 40px -20px rgba(0, 0, 0, 0.0951141);
	border-radius: 15px;
}

button {
	position: absolute;
	width: 123px;
	height: 48px;
	left: 73.5%;
	right: 0%;
	top: 80%;
	bottom: 0%;
	background: #022959;
	border-radius: 8px;
	position: absolute;
	color: #FFFFFF;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
}